{% extends "base.j2" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/docs.css">
    
<!-- 主要版面 -->
<main class='container mt-3'>
    <h3 class="text-center my-3">學習</h3>
    <div class="skills-container">
        <div class="skill-item">
            <div class="banner">
                <h4 class="theme">Introduction to Data Structure</h4>
                <h3 class="title">Array and String</h3>
                <img class="banner" src="/static/images/Example.png" alt="BannerImage">
            </div>
            <div class="info">
                <div class="info-item">
                    <span class="value">5</span>
                    <span class="tag">章節</span>
                </div>
                <div class="info-item">
                    <span class="value">20</span>
                    <span class="tag">案例</span>
                </div>
                <div class="info-item">
                    <a href="#">Go</a>
                </div>
            </div>
        </div>
        <div class="skill-item">
            <div class="banner">
                <h4 class="theme">Introduction to Data Structure</h4>
                <h3 class="title">Array and String</h3>
                <img class="banner" src="/static/images/Example.png" alt="BannerImage">
            </div>
            <div class="info">
                <div class="info-item">
                    <span class="value">5</span>
                    <span class="tag">章節</span>
                </div>
                <div class="info-item">
                    <span class="value">20</span>
                    <span class="tag">案例</span>
                </div>
                <div class="info-item">
                    <a href="#">Go</a>
                </div>
            </div>
        </div>
        <div class="skill-item">
            <div class="banner">
                <h4 class="theme">Introduction to Data Structure</h4>
                <h3 class="title">Array and String</h3>
                <img class="banner" src="/static/images/Example.png" alt="BannerImage">
            </div>
            <div class="info">
                <div class="info-item">
                    <span class="value">5</span>
                    <span class="tag">章節</span>
                </div>
                <div class="info-item">
                    <span class="value">20</span>
                    <span class="tag">案例</span>
                </div>
                <div class="info-item">
                    <a href="#">Go</a>
                </div>
            </div>
        </div>
        
    </div>
</main>
{% endblock %}