{% include 'header.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="css/pass_list.css">
<!-- 主要版面 -->
<main class='container'>
    <div class="row">
        <!-- 題目的標題列：解題狀態與題目名稱 -->
        <div class="title-pad">
            <div class="state passed">{{ question_number }}</div>
            <h1 class='title'>{{ question_title }}</h1>
        </div>

        <!-- 測資結果 -->
        <ul class="test-case-list">
            {# 
                case_results: 所有測試案例的結果
                result: 迭代於case_results中的測試結果
            #}
            {% for result in case_results %}
                {% if result.flag == 'success' %}
                    <li class="case-item passed">{{ result.number }} <span class="case-msg">{{ result.message }}</span></li>
                {% elif result.flag == 'failed' %}
                    <li class="case-item not-passed">{{ result.number }} <span class="case-msg">{{ result.message }}</span></li>
                {% else %}
                    <li class="case-item not-answered">{{ result.number }} <span class="case-msg">{{ result.message }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>

        <!-- 分頁標籤 -->
        <ul class="nav nav-tabs page-tab">
            <li class="nav-item">
                <a class="nav-link" href="/question/{{ question_number }}/content">題目內容</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/question/{{ question_number }}/chat">討論區</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">通過者名單</a>
            </li>
        </ul>

        <!-- 通過者清單 -->
        <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
            <table class="table table-sm border shadow text-center">
                <thead>
                    <tr class='table-info border'><th scope="col">學號</th></tr>
                </thead>
                <tbody>
                    {#  passed_list: 通過者名單，為 List
                        passed: 通過者資料
                    #}
                    {% for passed in passed_list %}
                        <tr><th scope="row"><a href="/user">{{ passed.id }}</a></th></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</main>