{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/question.css">

<!-- 網頁主區塊 -->
<main class="container">
    <!-- 區塊標題 -->
    <div class="row heading">
        <div class="col-12 d-flex align-items-center px-3 py-3 text-white-50 bg-blue heading-pad">
            <div class="lh-100">
                <h4 class="mb-0 text-white lh-100">{{  course  }}</h4>
            </div>
        </div>
    </div>

    <!-- 開放中的題目 -->
    <div class="row mb-3">
        <h3 class='question-section-title'>開放中的題目</h3>
        <hr class="hr-line">
        <div class='question-system'>

            {% for num in opened_questions %} 
            <div class='question-item' tabindex='0'>
                <div class="state {% if opened_questions[num]['light'] == 2 %}
                not-answered
                {% elif opened_questions[num]['light'] == 1 %}
                passed
                {% elif opened_questions[num]['light'] == 0 %}
                not-passed
                {% endif %}">{{  num  }}</div>
                <div class='question-info'>
                    <h4 class='question-title'><a href="/question/{{  num  }}">{{  opened_questions[num]['title']  }}</a></h4>
                    <p class='question-description'>{{  opened_questions[num]['description']  }}</p>
                    <div class='label-pool'>
                        {% for tag in opened_questions[num]['tag'] %} 
                        <label>{{  tag  }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <!-- 已結束的題目 -->
    <div class="row">
        <h3 class='question-section-title'>已結束的題目</h3>
        <hr class="hr-line">
        <div class='question-system'>

            {% for num in closed_questions %}
            <div class='question-item' tabindex='0'>
                <div class="state {% if closed_questions[num]['light'] == 2 %}
                not-answered
                {% elif closed_questions[num]['light'] == 1 %}
                passed
                {% elif closed_questions[num]['light'] == 0 %}
                not-passed
                {% endif %}">{{  num  }}</div>
                <div class='question-info'>
                    <h4 class='question-title'><a href="/question/{{  num  }}">{{  closed_questions[num]['title']  }}</a></h4>
                    <p class='question-description'>{{  closed_questions[num]['description']  }}</p>
                    <div class='label-pool'>
                        {% for tag in closed_questions[num]['tag'] %} 
                        <label>{{  tag  }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}