{% extends "base.j2" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">

<section class='landing d-flex align-items-center justify-content-center flex-column'>
    <h1 class='text-center landing-title'> Kuo Cool Online Judge </h1>
    <h2 class="text-center landing-subtitle">重新設計操作流程，打造美好交作業體驗。</h2>
</section>

<main class='container'>
    <h2 id='announcement' class='text-center mt-3'>- 公告 -</h2>
    <hr class='mt-3 mb-3'>

    {% for notice in notices %}   
    <div class="card my-3">
        <h3 class="card-header text-center">
            {{  notice[1]  }}
        </h3>
        <div class="card-body">
            <pre>{{  notice[2]  }}</pre>
            <p class="card-text"><small class="text-muted">{{  notice[0]  }}</small></p>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}