{% include 'base.j2' %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/question_number_passed.css">
<!-- 主要版面 -->
<main class='container'>
    <div class="row">
        <!-- 題目的標題列：解題狀態與題目名稱 -->
        <div class="title-pad">
            <div class="state {% if question_light == 2 %}
            not-answered
            {% elif question_light == 1 %}
            passed
            {% elif question_light == 0 %}
            not-passed
            {% endif %}">{{ question_number }}</div>
            <h1 class='title'>{{ question_title }}</h1>
        </div>

        <!-- 測資結果 -->
        <ul class="test-case-list">
            {% for case in question_cases %}
                {% if case[0] == 1 %}
                    <li class="case-item passed"> {{  case[1]  }} <span class="case-msg">{{ case[2] }}</span></li>
                {% elif case[0] == 0 %}
                    <li class="case-item not-passed"> {{  case[1]  }} <span class="case-msg">{{ case[2] }}</span></li>
                {% endif %}
            {% endfor %}
        </ul>

        <!-- 分頁標籤 -->
        <ul class="nav nav-tabs page-tab">
            <li class="nav-item">
                <a class="nav-link" href="/question/{{ question_number }}/content">題目內容</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">通過者名單</a>
            </li>
        </ul>

        <!-- 通過者清單 -->
        <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
            <table class="table table-sm border shadow text-center">
                <thead>
                    <tr class='table-info border'><th scope="col">學號</th></tr>
                </thead>
                <tbody>
                    {% for passer in passers %}
                    <tr><th scope="row"><img src="{{ passers[passer] }}" alt="passer_gravatar"> <a href="/user?userid={{  passer }}">{{ passer }}</a></th></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</main>
{% endblock %}