html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

nav.top-navbar {
  box-shadow: 0 3px 5px rgba(0,0,0, 0.5);
}

hr.hr-line {
  width: 100%;
  border-top: 1px solid black;
  box-shadow: 2px 2px 3px rgba(0,0,0, 0.5);
  margin: 8px 0 16px 0;
}

div.heading {
    margin-top: 32px;
    margin-bottom: 32px;
}

div.heading-pad {
  border-radius: 8px;
  box-shadow: 0 0 7px black;
}

h3.question-section-title {
  text-shadow: 2px 2px 3px rgba(64, 64, 64, 0.5);
  margin: 0;
}

div.server-state {
  display: flex;
  width: 64px;
  height: 48px;
  border-radius: 5px;
  color: rgb(64, 64, 64);
  background-color: limegreen;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 7px rgba(0,0,0, 0.75);
  margin-right: 10px;
  text-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
}

/* 接受「問題元件」的容器 */
div.question-system {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* #region ============ Question Item =========== */
/* 在問題清單中的每項元件。 */
div.question-item {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #E2E2E2;
  justify-content: left;
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 16px;
  box-shadow: 0 0 7px #555;
  outline: none;
}

/* 每項題目元件中，左方的「通過狀態」圖示 */
div.question-item > div.state {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius:  5px;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  box-shadow: 0 0 7px #555;
}
div.question-item > div.state.passed { background-color: lightgreen; }
div.question-item > div.state.not-passed { background-color: lightcoral; }
div.question-item > div.state.not-answered { background-color: lightgray; }

/* 當游標在圖示上時，會出現漂浮的提示訊息，提示是否通過、未通過或未上傳。 */
div.state:hover::before {
  position: absolute;
  display: flex;
  left: -7px; bottom: -35px;
  width: 60px;
  height: 30px;
  border-radius: 8px;
  background: rgba(32, 32, 32, 0.5);
  color: white;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.25s linear;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #333;
  z-index: 1024;
}

div.state.passed:hover::before { content: '已通過'; }
div.state.not-passed:hover::before { content: '未通過'; }
div.state.not-answered:hover::before { content: '未上傳'; }

/* 在問題元件中的「訊息區域」 */
div.question-item > div.question-info {
  width: 100%;
}

/* 題目的標題 */
div.question-item > div.question-info > a.question-title {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 8px;
}

/* 題目的簡短敘述 */
div.question-item > div.question-info > p.question-description {
  margin-bottom: 8px;
}

/* 題目的屬性標籤容器 */
div.question-item > div.question-info > div.label-pool {
  background-color: #AAA;
  border-radius: 14px;
  padding: 8px;
}

/* 在題目的屬性標籤容器中，每一項的標籤 */
div.question-item > div.question-info > div.label-pool > label {
  background-color: lightblue;
  font-size: 0.8rem;
  border-radius: 8px;
  padding: 3px 7px;
  margin: 0;
  box-shadow: 0 0 7px #333;
}

/* #endregion ========== Question Item ========== */

/* #region Following selector is inherited. */

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-blue { background-color: var(--blue); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem #333333; }

span[class*='checking-'] {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
}

span[class*='checking-']::before {
    position: absolute;
    display: block;
    bottom: -35px;  left: -10px;
    width: 60px;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    line-height: 1.5rem;
    color: white;
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 100;

    visibility: hidden;
    opacity: 0;

    transition: visibility 0s, opacity 0.25s linear;
}

span[class*='checking-']:hover::before {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.25s linear;
}

span.checking-not-answered { background-color: lightgray; }
span.checking-not-passed { background-color: lightcoral; }
span.checking-passed { background-color: lightgreen; }

span.checking-not-answered::before { content: '未上傳'; }
span.checking-not-passed::before { content: '未通過'; }
span.checking-passed::before { content: '已通過'; }

.back-to-top {
    display: block;
    position: fixed;
    bottom: 30px;  right: 30px;
    width: 60px; height: 60px;
    background-color: rgba(67, 117, 255, 0.5);
    border: 2px solid rgba(6, 22, 255, 0.7);
    border-radius: 100%;
    box-shadow: 3px 3px 5px black;
}

.arrow-up {
    width: 0; 
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(6, 22, 255, 0.7);
    margin: 35% 0 0 23%;

    transition: border-bottom-color 0.25s;
}

.back-to-top:hover .arrow-up {
    border-bottom-color: rgba(6, 22, 255, 1);
    transition: border-bottom-color 0.25s;
}

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

/* #endregion  */

/* Breakpoint: 1280px */
@media screen and (max-width: 1279px) {
  div.question-item > div.state {
    width: 50px;
    height: 50px;
  }
}

/* Breakpoint: 768px */
@media screen and (max-width: 767px) {
  /* 在問題清單中的每項元件。 */
  div.question-item {
    height: auto;
    max-height: 65px;
    overflow: hidden;

    transition: max-height 0.5s;
  }

  /* 當問題元件被聚焦的時候 */
  div.question-item:focus {
    background-color: rgb(236, 236, 204);
    max-height: 180px;
    overflow: auto;

    transition:  max-height 0.5s;
  }

  /* 每項題目元件中，左方的「通過狀態」圖示 */
  div.question-item > div.state {
    width: 40px;
    height: 40px;
    font-size: 0.9rem;
  }

  /* 當游標在圖示上時，會出現漂浮的提示訊息，提示是否通過、未通過或未上傳。 */
  div.state:hover::before {
    left: -12px; bottom: -35px;
  }

  /* 題目的標題 */
  div.question-item > div.question-info > h4.question-title {
    margin-top: 5px;
    margin-bottom: 16px;
  }

  /* 題目的簡短敘述 */
  div.question-item > div.question-info > p.question-description {
    margin-bottom: 8px;
  }

  /* 題目的屬性標籤容器 */
  div.question-item > div.question-info > div.label-pool {
    background-color: #AAA;
    border-radius: 14px;
    padding: 8px;
  }

  /* 在題目的屬性標籤容器中，每一項的標籤 */
  div.question-item > div.question-info > div.label-pool > label {
    background-color: lightblue;
    font-size: 0.8rem;
    border-radius: 8px;
    padding: 3px 7px;
    margin: 0;
    box-shadow: 0 0 7px #333;
  }
}

/* Breakpoint: 576px */
@media screen and (max-width: 575px) {
  /* 標頭 */
  div.heading {
    margin-top: 0;
  }

  /* 標題底下的標題面板 */
  div.heading > div {
    border-radius: 0;
    box-shadow: 0 5px 10px #333;
  }

  /* 分隔線 */
  hr.hr-line {
    margin-left: 16px;
    margin-right: 16px;
  }

  /* 區塊標題 */
  h3.question-section-title {
    font-size: 1.75rem;
    margin-left: 16px;
  }

  /* 在問題清單中的每項元件。 */
  div.question-item {
    height: auto;
    max-height: 65px;
    overflow: hidden;
    width: 90%;

    transition: max-height 0.5s;
  }

  /* 當問題元件被聚焦的時候 */
  div.question-item:focus {
    background-color: rgb(236, 236, 204);
    max-height: 200px;
    overflow: auto;

    transition:  max-height 0.5s;
  }

  /* 每項題目元件中，左方的「通過狀態」圖示 */
  div.question-item > div.state {
    width: 40px;
    height: 40px;
    font-size: 0.9rem;
  }

  /* 當游標在圖示上時，會出現漂浮的提示訊息，提示是否通過、未通過或未上傳。 */
  div.state:hover::before {
    left: -12px; bottom: -35px;
  }

  /* 題目的標題 */
  div.question-item > div.question-info > h4.question-title {
    margin-top: 8px;
    margin-bottom: 18px;
    font-size: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* 題目的簡短敘述 */
  div.question-item > div.question-info > p.question-description {
    margin-bottom: 8px;
  }
}
