body { padding-top: 56px; }

/* 導覽列 */
nav.top-navbar {
    box-shadow: 0 3px 5px rgba(0,0,0, 0.5);
}

/* 分隔線 */
hr {
    width: 100%;
    border-top: 1px solid #AAA;
    box-shadow: 0 0 3px #555;
    margin: 8px 0 16px 0;
}

/* 題目的標題列 */
div.title-pad {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0 8px;
    margin-top: 32px;
    margin-bottom: 8px;
}

/* 置中容器 */
div.flex-center {
    display: flex;
    justify-content: center;
}

/* 個人資訊版面 */
div.personal-card {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 32px;
    box-shadow: 0 0 8px #555;
}

/* 個人圖像 */
div.personal-card img.personal-image {
    width: 310px;
    height: 310px;
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 0 0 8px #555;
}

/* 個人資料 */
div.personal-card > div.personal-info {
    width: 100%;
    margin-left: 16px;
    margin-top: 8px;
}

.text-shadow {
    text-shadow: 0 0 5px #777;
}

/* Breakpoint: 1280px */
@media screen and (max-width: 1279px) {
}

/* Breakpoint: 768px */
@media screen and (max-width: 767px) {
    div.personal-card {
        flex-direction: column;
    }

    div.personal-card > div.personal-info {
        margin: 16px 8px;
        padding-right: 16px;
    }
}

/* Breakpoint: 576px */
@media screen and (max-width: 575px) {
    div.personal-card {
        box-shadow: none;
        padding: 16px 0;
    }
}